    /*
    Flaticon icon font: Flaticon
    Creation date: 06/03/2020 10:19
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-van:before { content: "\f100"; }
.flaticon-bus:before { content: "\f101"; }
.flaticon-truck:before { content: "\f102"; }
.flaticon-lorry:before { content: "\f103"; }
.flaticon-lorry-1:before { content: "\f104"; }
.flaticon-pickup-truck:before { content: "\f105"; }
.flaticon-truck-1:before { content: "\f106"; }
.flaticon-delivery-truck:before { content: "\f107"; }
.flaticon-sedan:before { content: "\f108"; }
.flaticon-car:before { content: "\f109"; }
.flaticon-tow-truck:before { content: "\f10a"; }
.flaticon-bus-1:before { content: "\f10b"; }
.flaticon-van-1:before { content: "\f10c"; }
.flaticon-bus-2:before { content: "\f10d"; }
.flaticon-bus-3:before { content: "\f10e"; }
.flaticon-electric-bus:before { content: "\f10f"; }
.flaticon-bus-4:before { content: "\f110"; }
.flaticon-time:before { content: "\f111"; }
.flaticon-calendar:before { content: "\f112"; }
.flaticon-calendar-1:before { content: "\f113"; }
.flaticon-schedule:before { content: "\f114"; }
.flaticon-clock:before { content: "\f115"; }
.flaticon-clock-1:before { content: "\f116"; }
.flaticon-shopping-cart:before { content: "\f117"; }
.flaticon-shopping-cart-1:before { content: "\f118"; }
.flaticon-buy:before { content: "\f119"; }
.flaticon-shopping-cart-2:before { content: "\f11a"; }
.flaticon-car-service:before { content: "\f11b"; }
.flaticon-car-service-1:before { content: "\f11c"; }
.flaticon-car-wash:before { content: "\f11d"; }
.flaticon-car-wash-1:before { content: "\f11e"; }
    
    $font-Flaticon-van: "\f100";
    $font-Flaticon-bus: "\f101";
    $font-Flaticon-truck: "\f102";
    $font-Flaticon-lorry: "\f103";
    $font-Flaticon-lorry-1: "\f104";
    $font-Flaticon-pickup-truck: "\f105";
    $font-Flaticon-truck-1: "\f106";
    $font-Flaticon-delivery-truck: "\f107";
    $font-Flaticon-sedan: "\f108";
    $font-Flaticon-car: "\f109";
    $font-Flaticon-tow-truck: "\f10a";
    $font-Flaticon-bus-1: "\f10b";
    $font-Flaticon-van-1: "\f10c";
    $font-Flaticon-bus-2: "\f10d";
    $font-Flaticon-bus-3: "\f10e";
    $font-Flaticon-electric-bus: "\f10f";
    $font-Flaticon-bus-4: "\f110";
    $font-Flaticon-time: "\f111";
    $font-Flaticon-calendar: "\f112";
    $font-Flaticon-calendar-1: "\f113";
    $font-Flaticon-schedule: "\f114";
    $font-Flaticon-clock: "\f115";
    $font-Flaticon-clock-1: "\f116";
    $font-Flaticon-shopping-cart: "\f117";
    $font-Flaticon-shopping-cart-1: "\f118";
    $font-Flaticon-buy: "\f119";
    $font-Flaticon-shopping-cart-2: "\f11a";
    $font-Flaticon-car-service: "\f11b";
    $font-Flaticon-car-service-1: "\f11c";
    $font-Flaticon-car-wash: "\f11d";
    $font-Flaticon-car-wash-1: "\f11e";