@media (max-width: 1500px){
}
@media (max-width: 1200px){
	#availcalender{
		overflow-x: scroll;
	}
	.frontend-package-services{
		height: 350px;
	}
}
@media (min-width: 991px) and (max-width: 1200px) {
}
@media (max-width: 1000px){
}
@media (max-width: 991px){
	#footer ul.footer-left,
	#footer ul.footer-right{
		text-align: center;
	}
	#footer ul{
		margin: 5px;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
}
@media (max-width: 960px){
}
@media (max-width: 860px){
}	
@media (max-width: 767px){
	#booking-form .services-list,
	#booking-form .text-align-left,
	#booking-form .text-align-right{
		text-align: center;
	}
}
@media (max-width: 700px){
}
@media (max-width: 600px){
}
@media (max-width: 500px){
}
@media (max-width: 470px){
	#header .logo a{
		font-size: 14px;
	}
}
@media (max-width: 400px){
}
@media (max-width: 330px){
}